table {
  width: 100%;
  border-collapse: collapse;
}
#table-container {
  overflow-x: auto;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
  max-width: 250px;
}

.mat-row .mat-cell {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
